<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClipboardHistory.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PasteboardAction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PasteboardShare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PasteboardToday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PasteboardTodayTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TableViewFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9304BB2D19A459DE00F2A36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9304BB4319A459DE00F2A36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9304BB5719A459F400F2A36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>935CB62B19D6B060002B06C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>935CB63519D6B060002B06C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F1A4ED19C215F000B01E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F1A50519C2160B00B01E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F1A51A19C2161C00B01E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
